---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Hero from '../../components/sections/Hero.astro';
import Categories from '../../components/sections/Categories.astro';
import BrandMarquee from '../../components/sections/BrandMarquee.astro';
import Stats from '../../components/sections/Stats.astro';
import WhyUs from '../../components/sections/WhyUs.astro';
import FeaturedProduct from '../../components/sections/FeaturedProduct.astro';
import Testimonials from '../../components/sections/Testimonials.astro';
import HowItWorks from '../../components/sections/HowItWorks.astro';
import FinalCTA from '../../components/sections/FinalCTA.astro';
import { t } from '../../i18n/ui';

const locale = 'sl';
---

<BaseLayout
  title="SkinLab Hungary - Profesionalna kozmetična oprema"
  description="Distribucija profesionalne kozmetične opreme. Diodni laserji, PMU naprave, ND:YAG laserji in večfunkcijske naprave z 2-letno garancijo, brezplačnim usposabljanjem in takojšnjo servisno podporo."
>
  <div id="main-content">
    <Hero />
    <Categories />
    <BrandMarquee />
    <Stats />
    <WhyUs />
    <FeaturedProduct />
    <Testimonials />
    <HowItWorks />
    <FinalCTA />
  </div>
</BaseLayout>
